@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    background-color: black;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #fc1503;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: black;
  }
  .custom-scrollbar-videoDetail::-webkit-scrollbar-track{
    margin-top: 84px;
  }
}
